* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Roboto', sans-serif;
    outline: none;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 5px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(190, 63, 63); 
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

span:last-child .comma {
    display: none;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: transparent;
    padding: 0 60px;
    z-index: 50;
}
.change_color {
    background-color:black;
    transition: 0.5 ease-in-out;
}

.nav_bar_container {
    width: 33%;
    display: flex;
    align-items: center;
}
.nav_bar_container > a > img {
    width: 50px;
}
.nav_bar_list {
    list-style: none;
    display: flex;
    margin-left: 40px;
}
.nav_bar_list > li {
    margin: 0 10px;
}
.nav_bar_list > li > a {
    color: white;
}

.brand_image_container {
    width: 33%;
}
.brand_name {
    width: 200px;
}

.search_container {
    width: 33%;
    display: flex;
    align-items: center;
}
/* COSTUM-SEARCH-INPUT */
.input_field {
    display: flex;
}

.input_field input,
.search_btn, 
.search_btn:before, 
.search_btn:after {
	transition: all 0.25s ease-out;
}
.input_field input,
.search_btn {
	width: 40px;
	height: 40px;
}
.input_field input:invalid:not(:focus),
.search_btn {
	cursor: pointer;
}
.input_field,
.input_field input:focus {
	width: 100%;
}
.input_field input:focus,
.input_field input:not(:focus) + .search_btn:focus {
	outline: transparent;
}
.input_field {
	margin: auto;
	padding: 1.5em;
	justify-content: center;
	max-width: 30em;
}
.input_field input {
	background: transparent;
	border-radius: 1.5em;
	box-shadow: 0 0 0 0.4em #171717 inset;
	padding: 0.75em;
	transform: translate(0.5em,0.5em) scale(0.5);
	transform-origin: 100% 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input_field input::-webkit-search-decoration {
	-webkit-appearance: none;
}
.input_field input:focus {
	background: #fff;
	border-radius: 0.375em 0 0 0.375em;
	box-shadow: 0 0 0 0.1em #d9d9d9 inset;
	transform: scale(1);
}
.search_btn {
	background: #171717;
	border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
	padding: 0.75em;
	position: relative;
	transform: translate(0.25em,0.25em) rotate(45deg) scale(0.25,0.125);
	transform-origin: 0 50%;
}
.search_btn:before, 
.search_btn:after {
	content: "";
	display: block;
	opacity: 0;
	position: absolute;
}
.search_btn:before {
	border-radius: 50%;
	box-shadow: 0 0 0 0.2em #f1f1f1 inset;
	top: 0.75em;
	left: 0.75em;
	width: 1.2em;
	height: 1.2em;
}
.search_btn:after {
	background: #f1f1f1;
	border-radius: 0 0.25em 0.25em 0;
	top: 51%;
	left: 51%;
	width: 0.75em;
	height: 0.25em;
	transform: translate(0.2em,0) rotate(45deg);
	transform-origin: 0 50%;
}
.search_btn span {
	display: inline-block;
	overflow: hidden;
	width: 1px;
	height: 1px;
}

/* Active state */
 .input_field input:focus + .search_btn {
	background: transparent;
    border: none;
	border-radius: 0 0.375em 0.375em 0;
	transform: scale(1);
}
.input_field input:focus + .search_btn:before, 
.input_field input:focus + .search_btn:after {
	opacity: 1;
}
.input_field input:focus + .search_btn:active {
	transform: translateY(1px);
}

@media screen and (prefers-color-scheme: dark) {
    input {
		color: #f1f1f1;
	}
	.input_field input {
		box-shadow: 0 0 0 0.4em #f1f1f1 inset;
	}
	.input_field input:focus {
		background:rgba(0, 0, 0, 0.8);
		box-shadow: 0 0 0 0.1em rgba(0, 0, 0, 0.8) inset;
	}
	.search_btn {
		background: #f1f1f1;
	}
} 
/* COSTUM-SEARCH-INPUT */
.genres_select {
    outline: none;
    border: 2px solid #eb5757;
    background-color: black;
    width: 150px;
    height: 30px;
    font-size: 15px;
    color: red;
    margin-left: 10px;
}


main {
    width: 100%;
    min-height: 100vh;
    background-color: black;
}
.jumbotron {
    width: 100%;
    height: 680px; 
    position: relative;
    background: url('https://www.cinematographe.it/wp-content/uploads/2018/07/v-per-vendetta.jpg');  
    background-repeat: no-repeat; 
    background-size: cover;
    color: white;
    z-index: 2;
}
.slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-color:rgba(0, 0, 0, 0.5);
    padding: 60px;
}
.slogan > h1 {
    font-size: 80px;
}
.slogan > h1 > span {
    font-size: 80px;
    color: red;
}
.slogan > h3 {
    font-size: 30px;
}
.slogan >h3 > span {
    font-size: 30px;
    color: red;
}
.slogan > h1,
.slogan > h3 {
    margin-bottom: 20px;
}


.jumbotron_btns {
    display: flex;
}
.btn {
    width: 180px;
    height: 50px;
    border-radius: 5px;
    margin: 10px 5px;
    font-weight: 700;
}
.btn > span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.btn_white {
    background-color: white;
    color: black;
}
.btn_white > span:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.btn_gray {
    background-color: gray;
    color: white;
}
.btn_gray > span:hover {
    background-color: rgba(0, 0, 0, 0.3);
}


.cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 60px;
    margin-top: -70px;
    background-color: black;
}
.card {
    width: calc(16.66% - 5px);
    height: 200px;
    margin: 0 2.5px 60px 2.5px;
    border-radius: 5px;
    z-index: 3;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    transition: 0.5s;
}
.card > img {
    width: 100%;
    height: 100%;
}
.info_hover_box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}
.info_hover_img_container {
    width: 100%;
    height: 100%;
    margin-bottom: -1px;
}
.info_hover_img_container > .scale_cover_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-size: 0px;
}
.card:hover {
    transform: scale(1.4, 2);
    z-index: 10;
}
.card:hover .flag {
    transform: scale(1.1);
}
.card:first-child:hover,
.card:nth-child(6n+0):hover {
    -moz-transform: scale(1.4, 2);
    -webkit-transform: scale(1.4, 2);
    transform: scale(1.4, 2);
    transform-origin: right;
    margin-top: 1px;
}
.card:nth-child(6n+1):hover {
    -moz-transform: scale(1.4, 2);
    -webkit-transform: scale(1.4, 2);
    transform: scale(1.4, 2);
    transform-origin: left;
    margin-top: 1px;
}
.card:hover .info_hover_box {
    display: block;
}
.card:hover .cover_img {
    display: none;
}
.content_hover_box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    overflow: auto;
    background-color: #030202;
    background-image: linear-gradient(326deg, #030202 0%, #91221e 74%); 
}
.content_hover_box > p {
    color: white;
    font-weight: 700;
    font-size: 0.8vw;
    margin-bottom: 10px;
}
.content_hover_box > p > span {
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
    font-weight: 300;
}
.flag_box {
    width: 100%;
    text-align: right;
}
.flag {
    width: 25px;
    height: 17px;
}
.content_hover_box > p > i {
    color: yellow;
    font-size: 0.8rem;
    margin: 0 2px;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 40px 0;
    background-color: black;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
}
.socialLinks_container > a {
    font-size: 40px;
    margin: 0 10px;
    color:rgb(128,128,128, 0.5);
}
.socialLinks_container > a:hover {
    color: rgba(255, 0, 0, 0.5);
}

.copyright {
    color:rgb(128,128,128, 0.5);
}


